{% load static %}
{% block content %}
<div class="col-md-4">
  <div class="card floatLeft">
    <div class="card-header">
      <h3><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Events</h3>
    </div>
    <div class="card-content list-group" id="events">
      {% for events in events %}
      {% if events.url %}
      <a href="{{ events.url }}" class="btn btn-default btn-block">{{ events.title }}</a>
      {% elif events.upload %}
      <a href="{{ events.upload }}" class="btn btn-default btn-block">{{ events.title }}</a>
      {% else %}
      <a href="#" class="btn btn-default btn-block">{{ events.title }}</a>
      {% endif %}
      {% endfor %}
    </div>
    <div class="card-footer">
      <a href="{% url 'home:event' %}" target="_blank" class="btn btn-large btn-block btn-info" role="button">View All Events</a>
    </div>
  </div>
</div>
{% endblock %}
