{% load static %}
{% block content %}
<footer class="container-fluid">
        <div class="container">
            <div class="col-md-4 last">
                Krishna Engineering College © 2017
            </div>
            <div class="col-md-4">
                <h4>Developed by tushar malik</h4>
            </div>
            <div class="col-md-4 last">
                Follow us on
                <a href="https://www.facebook.com/KECGZB" target="_blank"><img src="{% static 'img/facebook.png' %}" height="30px"></a>
                <a href="http://youtube.com/c/KECGhaziabadOfficial" target="_blank"><img src="{% static 'img/youtube.png' %}" height="30px"></a>
                <a href="http://google.com/+KECGhaziabadOfficial" target="_blank"><img src="{% static 'img/google_plus.png' %}" height="30px"></a>
                <a href="https://twitter.com/KrishnaCollege" target="_blank"><img src="{% static 'img/twitter.png' %}" height="30px"></a>
                <a href="http://in.linkedin.com/pub/krishna-engineering-college-official-page/ab/197/620" target="_blank"><img src="{% static 'img/linkedin.png' %}" height="30px"></a>
            </div>
        </div>
</footer>
{% endblock %}
