{% block content %}
{% load staticfiles %}
<div class="container-fluid bluez">
	<div class="row">
	<div class="col-md-2 col-sm-2 col-xs-4">
		<a href="/"><img src="{% static 'img/logo.png' %}" class="img-responsive logokec"></a>
	</div>
	<div class="col-md-10 col-sm-10 col-xs-8 text-center kecheading">
	    <h2 class="kech">Krishna Engineering College</h2>
	    <i>Approved by AICTE, A Premium Institute of AKTU</i><p style="font-size:30px"> (College Code - 161)</p>
	</div>
	<!-- <div class="col-md-2">
	    <a href="http://admission.krishnacollege.ac.in/Admissionkec.aspx"><img src="{% static 'img/logo-calltoaction-business-1-591c20447b0be.png' %}" height="146" weidth="200" class="AdmissionOpen"> </a>
	</div> -->
	</div>
</div>
{% endblock %}
